CONFIG_PLATFORM_STM32F429=y
CONFIG_PLATFORM="stm32f429"
CONFIG_ARCH_ARM=y
CONFIG_CORE_CORTEX_M4=y
CONFIG_USE_FPU=y
CONFIG_CROSS_COMPILE_ARM_NONE_EABI=y
CONFIG_DRIVER_GPIO=y
CONFIG_DRIVER_LED=y
CONFIG_DEBUG_BUILD=y
CONFIG_USE_HAL_DRIVER=y
CONFIG_STD_LIBC="nano"